* {
margin: 0;
box-sizing: border-box;
}
.container{
    margin: 20px auto;
    width: 400px;
}
.quiz-one{
    display: flex;
    align-items: center;
    align-items: flex-start;
    flex-direction: column;
}

.quiz-one h3{
    align-self: center;
}